﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="jobs.master.cs" Inherits="ERecruitment.jobs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link id="linkFavicon" <%= "href='../handlers/HandlerUI.ashx?commandName=GetMainSiteFavicon&v=" + (new Random()).Next(1, 500) * (new Random()).Next(1, 3) + "'"%> rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/assets/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap-dialog.js"></script>
    <script src="../assets/js/jquery.easyPaginate.js"></script>
    <script src="../assets/js/list.min.js"></script>
    <script src="../assets/js/list.pagination.min.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/js/jquery.cleditor.min.js"></script>
    <script src="../assets/js/jquery.chosen.min.js"></script>
    <script src="../assets/js/jquery.chosen-patch.min.js"></script>
    <script src="../assets/js/nivo-lightbox.min.js"></script>
    <script src="../assets/js/smoothscroll.js"></script>
    <script src="../assets/js/jquery.nav.js"></script>
    <script src="../assets/js/isotope.js"></script>
    <script src="../assets/js/imagesloaded.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/jquery.noty.min.js"></script>
    <script src="../assets/js/jquery.maskedinput.min.js"></script>
    <script src="../assets/js/bootstrap-confirmation.min.js"></script>
    <script src="../assets/js/utilities.js"></script>


    <!-- Custom Theme files -->

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-dialog.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/chosen.min.css" />
    <link rel="stylesheet" href="../assets/css/nivo-lightbox.css" />
    <link rel="stylesheet" href="../assets/css/noty_theme_default.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <asp:Literal ID="litCssPlaceHolder" runat="server" />
    <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <input type="hidden" name="hidFacebookApiKey" id="hidFacebookApiKey" runat="server" />

        <nav class="navbar navbar-default" role="navigation">
            <div class="container" style="width:1290px">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavigation">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img id="imgLogo" class="img-responsive" runat="server" src="../handlers/HandlerUI.ashx?commandName=GetMainSiteLogo" alt="" /></a>
                </div>


                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="mainNavigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>
                            <asp:Literal ID="litUserName" runat="server" /></a></li>
                        <asp:Repeater ID="repPages"
                            runat="server"
                            OnItemDataBound="repPages_ItemDataBound">
                            <ItemTemplate>
                                <li class="dropdown">
                                    <a id="menuLink" data-lang='<%# Eval("DataLangAttribute") %>' data-context='<%# Eval("Name") %>' runat="server"><%# Eval("Name") %></a>
                                    <asp:Repeater ID="repSubPages" OnItemDataBound="repSubPages_ItemDataBound"
                                        runat="server">
                                        <HeaderTemplate>
                                            <ul class="dropdown-menu">
                                        </HeaderTemplate>
                                        <ItemTemplate>
                                            <li><a id="menuLink" data-lang='<%# Eval("DataLangAttribute") %>' runat="server"><%# Eval("Name") %></a></li>
                                        </ItemTemplate>
                                        <FooterTemplate></ul></FooterTemplate>
                                    </asp:Repeater>
                                </li>
                            </ItemTemplate>
                        </asp:Repeater>
                        <li>
                            <a id="mainLang" data-toggle="dropdown" class="btn dropdown-toggle">EN</a>
                            <ul class="dropdown-menu">
                                <li><a onclick="changeLang(); return false;" id="altLang">ID</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <div class="clearfix"></div>
        <div class="container content">
            <div class="row">
                <h3 class="text-uppercase">
                    <asp:Literal ID="ltJob" runat="server" /></h3>
            </div>
            <div class="row">
                <ul class="nav tab-menu nav-tabs" id="myTab" role="tablist">
                    <li id="liIndustries"><a id="industries" runat="server" data-lang="IndustriesSubMenu">Industries</a></li>
                    <li id="liCategories"><a id="categories" runat="server" data-lang="CategoriesSubMenu">Categories</a></li>
                    <li id="liPositions"><a runat="server" id="positions" data-lang="PositionsSetupSubMenu">Positions</a></li>
                    <li id="liJobCodes"><a runat="server" id="jobCodes" data-lang="JobCodesSubMenu">Job Codes</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="basicInfo" role="tabpanel">

                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
        </div>

        <asp:HiddenField ID="hidVacancyCode" runat="server" />
        <div class="modal fade" id="changePasswordFrameModel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title center" data-lang="ChangePasswordDefaultCaptionLabel">Change Password</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <span data-lang="OldPasswordDefaultLabel">Old Password</span><span class="requiredmark">*</span>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" id="tbOldPassword" type="password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <span data-lang="NewPasswordDefaultLabel">New Password</span><span class="requiredmark">*</span>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" id="tbNewPassword" type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="commitChangePassword(); return false;">Change Password</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hidePopup(); return false;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
