.navbar-default {
    background-color: #ffffff !important;
    border-color: transparent;
    border-bottom-color: #3C3932;
}

    .navbar-default .navbar-nav > li > a {
        color: #BF202F;
        font-weight: bold;
    }

.btn-primary, .btn-2, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #BF202F;
    border-color: #BF202F;
}


.easyPaginateNav a.page {
    background-color: transparent;
}


.easyPaginateNav a.current {
    background-color: #BF202F;
    color: #ffffff;
}

.btnMenu {
    background: #f15f43 !important;
    color: #fff !important;
}

.DTTT_selected {
    background-color: #BF202F !important;
    border-color: #BF202F !important;
    color: #ffffff;
}

    .DTTT_selected a {
        color: #ffffff;
    }

.accordion {
    background: #f15f43;
    color: #fff;
}