﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masters/batchprocess.Master" AutoEventWireup="true" CodeBehind="candidates.aspx.cs" Inherits="ERecruitment.candidates" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
