.image-properties{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px; width: 200px;
	background-color: white;
}

.socMedFont{
  font-size: 15px;
}

.cursor{
	cursor: pointer;
}

.grad {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e0e0e0, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, white); /* Standard syntax */
}

#idp .wrap
{
  /*margin:50px auto 0 auto;
  width:100%;*/
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
#idp .tile
{
  /*width:380px;*/
  height:200px;
  margin:10px;
  /*background-color:#ffffff;*/
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
#idp .tile .img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
#idp .tile .text
{
/*   z-index:99; */
  /*position:absolute;*/
  padding:30px;
  height:calc(100% - 60px);
}
#idp .tile h3
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
#idp .tile h4
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
#idp .tile ul
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
#idp .animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
#idp .tile:hover
{
/*   background-color:#99aeff; */
/*box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);*/
  transform:scale(1.05);
}
#idp .tile:hover .img
{
  opacity: 0.2;
}
#idp .tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

#idp .tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}