﻿/*custom dtb*/
.custom-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block; /* This is required */
}

.custom-icon.icon-sap{
    background: url(/assets/images/sap1600.png);
    background-size: cover;
}

.custom-icon.normal {
    width: 32px;
    height: 32px;
}

.custom-icon.small {
    width: 16px;
    height: 16px;
}

.custom-icon.medium {
    width: 64px;
    height: 64px;
}

.custom-icon.large {
    width: 64px;
    height: 64px;
}