.navbar-default .navbar-brand {
    background-color: transparent !important;
}

.capitalLetter{
    text-transform: uppercase;
}

.dropdown-menu > li > a{
    line-height: 3;
}

.dropdown-menu > li > a:hover{
    background-color: #286090;
    color: #ffffff;
}

.dropdown-menu{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.link{
    color: #23527C;
    cursor: pointer;
    text-decoration: underline;
}

.navbar-nav{
    margin-top: 26px;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center;
}

.btnSearch {
    margin-top: 0px;
}

.nav-tabs li, a {
    cursor: pointer;
}

.tab-content {
    margin-top: 15px !important;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 40px;
    height: 40px;
    max-width: 175px !important;
}

#search_wrapper1 {
    margin-top: 0px !important;
}

.content {
    padding-top: 20px;
}

.jobList .single {
    padding-top: 0px !important;
}

.but_list {
    margin-top: -50px !important;
}

.tab_grid {
    margin-bottom: 0px;
    margin-top: 50px;
}

.navbar {
    min-height: 0px;
}


.easyPaginateNav a.page, a.prev, a.next {
    display: inline-block;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dddddd;
}

.easyPaginateNav a.current{
    
    background-color: #337AB7 !important;
    color: #ffffff;
}

.row {
    margin-bottom: 10px;
}

td, th {
    padding: 5px !important;
    vertical-align: middle !important;
}

.controlIcon, .closeAppointment {
    padding-left: 7px !important;
    width: 25px !important;
    cursor: pointer;
}

.meta {
    display: block;
}

.btnMenu {
    padding: 10px !important;
    margin-bottom: 1em !important;
    width: 125px !important;
}

li.pipelineHolder {
    display: inline-block;
    list-style: none;
}

#pipelineContainer {
    margin: auto !important;
}

.accordion {
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 1em;
    width: 100%;
    text-align: left;
}

.panel {
    display: none;
}

.mediuminline {
    width: 173px;
    display: inline-block;
}

.dataTables_filter {
    text-align: right;
}

.chosen-container chosen-container-single {
    background-color: #ffffff !important;
    background-image: none !important;
    width: 100%;
}

.chosen-container-single .chosen-single {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #ffffff !important;
    background-image: none !important;
    width: 100% !important;
}

    .chosen-container-single .chosen-single span {
        padding-top: 2px;
        background-color: #ffffff !important;
        background-image: none !important;
        width: 100% !important;
    }

    .chosen-container-single .chosen-single div b {
        margin-top: 2px;
        background-color: #ffffff !important;
        background-image: none !important;
        width: 100% !important;
    }

.chosen-search, .chosen-drop {
    margin-bottom: 2px;
    width: 100% !important;
}

.chosen-container {
    width: 100% !important;
}

input.form-control {
    padding-left: 10px !important;
}

.no-padding {
    padding-top: 0px !important;
}

#service.no-padding .fa {
    border-top: 3px solid #333374;
    border-bottom: 3px solid #333374;
    border-radius: 50%;
    font-size: 32px;
    color: #333374;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 26px;
}

.block {
    display: block;
    margin-top: 5px;
}

    .block button, .searchPanel button {
        width: 140px;
    }



.jobSection {
    border-top: 1px solid #333374;
    border-bottom: 1px solid #333374;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px !important;
}

.searchPanel {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EFEFEF !important;
}


#profile .commandIcon {
    border-top: 3px solid #333374;
    border-bottom: 3px solid #333374;
    border-radius: 50%;
    font-size: 32px;
    color: #333374;
    text-align: center;
    padding: 40px;
}

.go-top .fa {
    margin-right: 0px !important;
    cursor: pointer;
}

.fa {
    margin-right: 10px !important;
    cursor: pointer;
}

button .fa{
    margin-right: 0px !important;
}

.commandIcon .fa{
    margin-right: 10px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
}

.listBox {
    height: 150px !important;
    width: 180px !important;
}

.halfButton{
    width: 68px !important;
    display: inline-block;
}

.largeModal{
    width: 1032px !important;
}

.iconCell{
    width: 25px !important;
}

.navbar-brand img.img-responsive{
    width: 250px !important;
    min-width: 250px !important;
    height: 65px !important;
    min-height: 65px !important;
}

.ui-datepicker td{
    padding: 0px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    padding: 0px !important;
    width: 100% !important;
    padding-left: 5px !important;
}

.ui-datepicker{
    z-index: 1050 !important;
}

option{
    z-index: 1060 !important;
}

.modal-title{
    text-align: center;
}

.answerOption{
    margin-right: 20px;
}

.answerOption input[type=radio]{
    margin-right: 5px !important;
}