﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masters/applicant-vacancy.Master" AutoEventWireup="true" CodeBehind="assestmentsessions.aspx.cs" Inherits="ERecruitment.assestmentsessions" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

</asp:Content>
