﻿<%@ Page Title="" Language="C#"MasterPageFile="~/masters/portal.Master" AutoEventWireup="true" CodeBehind="company-listing.aspx.cs" Inherits="ERecruitment.company_listing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
