﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masters/landing.Master" AutoEventWireup="true" CodeBehind="contact.aspx.cs" Inherits="ERecruitment.contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
