﻿<%@ Page Title="Education Levels" Language="C#" MasterPageFile="~/masters/educations.Master" AutoEventWireup="true" CodeBehind="educationlevels.aspx.cs" Inherits="ERecruitment.educationlevels" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <script type="text/javascript">


    $(document).ready(function () {

        $("#liEducationLevels").addClass("active");
    });

    $(document).ready(function () {

        loadData();
    });

    $('body').on('click', '.delete', function () {

        var code = $(this).attr('name');
        confirmMessage("Are you sure want to delete the selected records?", "warning", function () {
            $.ajax({
                url: "../handlers/HandlerGlobalSettings.ashx?commandName=RemoveEducationLevel&id=" + code,
                async: true,
                beforeSend: function () {

                },
                success: function (queryResult) {
                    // refresh
                    var tableData = $('#tableData').dataTable();
                    tableData.fnDraw();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showNotification(xhr.responseText);
                    // refresh
                    var tableData = $('#tableData').dataTable();
                    tableData.fnDraw();
                }
            });
        });
    });



    // handler untuk edit, menggunakan selector clas vw yang di define saat datatable initiation
    $('body').on('click', '.edit', function () {

        var code = $(this).attr('name');
        showDataForm(code);

    });


    function loadData() {
        var ex = document.getElementById('tableData');
        if ($.fn.DataTable.fnIsDataTable(ex)) {
            // data table, then destroy first
            $("#tableData").dataTable().fnDestroy();
        }

        var OTableData = $('#tableData').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "bAutoWidth": false,
            "sDom": "ftipr",
            "bDeferRender": true,
            "aoColumnDefs": [
                   { "bSortable": false, "aTargets": [0, 1, 2] },
                   { "sClass": "controlIcon", "aTargets": [0, 1] },
                   { "bVisible": false, "aTargets": [2] }

            ],
            "oLanguage":
                               { "sSearch": "Search By Name" },

            "sAjaxSource": "../datatable/HandlerDataTableSettings.ashx?commandName=GetEducationLevelList"

        });
    }


    function refresh() {
        var tableData = $('#tableData').dataTable();
        tableData.fnDraw();
    }

    function showForm(code) {

        showDataForm(code);
    }

    function Add() {
        showDataForm("0");
    }

    function showDataForm(dataId) {

        var handlerUrl = "../handlers/HandlerGlobalSettings.ashx?commandName=GetEducationLevel&id=" + dataId;

        $.ajax({
            url: handlerUrl,
            async: true,
            beforeSend: function () {

            },
            success: function (queryResult) {

                var dataModel = $.parseJSON(queryResult);
                // form
                loadDataIntoForm("formDataFrameModel", dataModel);
                //if (dataId == "0")
                //{
                //    loadDataIntoForm("formDataFrameModel", dataModel);
                //}
                //else
                //{
                //    loadDataIntoForm("formDataUpdateFrameModel", dataModel);
                //}
            },
            error: function (xhr, ajaxOptions, thrownError) {

                console.log("Error");
            }
        });
        $('#formDataFrameModel').modal('show');
        //if (dataId == "0") {
        //    $('#formDataFrameModel').modal('show');
        //}
        //else
        //{
        //    $('#formDataUpdateFrameModel').modal('show');
        //}
    }

    function updateDataForm(form) {
        var actionUrl;
        //if (form == "formDataUpdateFrameModel")
        //{
        //    actionUrl = "../handlers/HandlerGlobalSettings.ashx?commandName=UpdateEducationLevel";
        //}
        //else
        //{
        //    actionUrl = "../handlers/HandlerGlobalSettings.ashx?commandName=SaveNewEducationLevel";
        //}
  
        actionUrl = "../handlers/HandlerGlobalSettings.ashx?commandName=UpdateEducationLevel";
        var formData = {};

        if (!getNodeData(form, formData)) return false;

        $.post(actionUrl, formData).done(function (data) {

            refresh();
            $('#formDataFrameModel').modal('hide');
            //$('#formDataUpdateFrameModel').modal('hide');

        });
    }

    </script>


    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default commandIcon" onclick="showForm('0'); return false;"><i class="fa fa-file"></i>New</button>
        </div>
    </div>    
           
    <table class="table table-striped table-bordered dt-responsive nowrap" id="tableData">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><span data-lang="EduLevelSetupTitle">Name</span></th>
    <%--            <th><span data-lang="EduMajorSetupTitle">Major</span></th>--%>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
       

    <div class="modal fade" id="formDataFrameModel">
        <div class="modal-dialog">
		    <div class="modal-content">
            <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h1 class="modal-title center" data-lang="EduLevelCaptionTitle">Education Level</h1>
		    </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <span data-lang="EduNameSetupInputTitle">Name</span><span class="requiredmark">*</span>       
                        <input type="hidden" data-attribute="EducationLevel" />
                    </div>
                    <div class="col-md-9 col-sm-9"> 
                        <input class="form-control" type="text" required="" data-attribute="Name"/>  
                    </div>
                </div>
<%--                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <span data-lang="EduMajorSetupInputTitle">Major</span> <span class="requiredmark">*</span> 
                        </div>
                          <div class="col-md-9 col-sm-9">    
                               <asp:ListBox ID="listMajor" SelectionMode="Multiple" runat="server" CssClass="form-control" DataValueField="Code" DataTextField="Major" data-attribute="EducationMajorCode" /> 
                    </div>
                </div>--%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateDataForm('formDataFrameModel'); return false;">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hidePopup(); return false;">Cancel</button>
            </div>
            </div>
        </div>
    </div>        
    
    <div class="modal fade" id="formDataUpdateFrameModel">
        <div class="modal-dialog">
		    <div class="modal-content">
            <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h1 class="modal-title center">Education Level</h1>
		    </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Name<span class="requiredmark">*</span>       
                        <input type="hidden" data-attribute="EducationLevel" />
                    </div>
                    <div class="col-md-9 col-sm-9"> 
                        <input class="form-control" type="text" required="" data-attribute="Name"/>  
                    </div>
                </div>
<%--                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Major <span class="requiredmark">*</span> 
                        </div>
                          <div class="col-md-9 col-sm-9"> 
                              <select class="form-control" id="ddMajor" runat="server" datavaluefield="Code" datatextfield="Major" data-attribute="EducationMajorCode"/>      
                    </div>
                </div>--%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateDataForm('formDataUpdateFrameModel'); return false;">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hidePopup(); return false;">Cancel</button>
            </div>
            </div>
        </div>
    </div>       
</asp:Content>
