﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masters/recruiter.Master" AutoEventWireup="true" CodeBehind="portalsettings.aspx.cs" Inherits="ERecruitment.portalsettings" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div style="float:left;margin:5px; margin-top:14px; text-align:center; padding:15px; width:100%; height:100%;" >
            <ul class="nav tab-menu nav-tabs" id="myTab" role="tablist"  >
                <li><a id="profile" runat="server">Industry</a></li>
                <li><a  runat="server" id="contactInfo">Position</a></li>
                <li><a  runat="server" id="educationInfo">Employment Status</a></li>
                <li><a runat="server" id="experienceInfo">Level Education</a></li>
                <li><a  runat="server" id="skillInfo">Field Of Study</a></li>
                <li><a  runat="server" id="languageInfo">Major</a></li>
                <li><a  runat="server" id="trainingInfo">Language</a></li>
                <li><a runat="server" id="awardInfo">Award Type</a></li>
                <li><a  runat="server" id="orgInfo">Organization Type</a></li>
                <li><a  runat="server" id="careerPlacement">Position</a></li>
                     
	        </ul>         
        </div>
</asp:Content>
