﻿<%@ Page Title="Account Verification" Language="C#" MasterPageFile="~/masters/portal.Master" AutoEventWireup="true" CodeBehind="account-verification.aspx.cs" Inherits="ERecruitment.account_verification" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

</asp:Content>
