﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masters/applicant-profile.Master" AutoEventWireup="true" CodeBehind="additionalInfoProfile.aspx.cs" Inherits="ERecruitment.additionalInfoProfile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
